blockchain/node_modules
.env

# Hardhat files
/blockchain/cache
/blockchain/artifacts

# TypeChain files
/blockchain/typechain
/blockchain/typechain-types

# coverage files
/blockchain/coverage
/blockchain/coverage.json
/server/coverage

# Hardhat Ignition default folder for deployments against a local node
/blockchain/ignition/deployments/chain-31337
/server/dist/
/blockchain/dist/
/server/node_modules/
/blockchain/node_modules/
/.idea/blockchain-test.iml
/.idea/httpClient.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
